@charset "UTF-8";

.container {
	display: grid;
	border: 1px solid blue;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 600px repeat(2, 300px) 200px;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	grid-template-areas:
		"a b b b c"
		"d d d d d"
		"e e e e e";
}

.container div {
	border: 1px solid gray;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
}

.div1 { grid-area: a; }
.div2 { grid-area: b; }
.div3 { grid-area: c; }
.div4 { grid-area: d; }
.div5 { grid-area: e; }

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home {
	background-color: lightgray;
	text-align: center;
}